<!doctype html>
<html>

<head>
    <title>Simple Flask Demo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        function submit() {
            var a = document.getElementById('a');
            var b = document.getElementById('b');
            // document.getElementById('result').value = parseInt(a.value) + parseInt(b.value);

            $.ajax({
                type: "POST",
                url: "http://localhost:5000/process",
                data: JSON.stringify({
                    "a": a.value,
                    "b": b.value
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) { // what does this function do
                    console.log(data);
                    document.getElementById('result').value = data["res"];
                    console.log(111);
                    // alert("hahaha");
                },
                failure: function(errMsg) {
                    alert(errMsg);
                }
            });
        }
    </script>
    <style>
        #input_left {
            float: left;
            width: 48%;
            padding: 10px;
        }
        #output_right {
            float: right;
            width: 48%;
            padding: 10px;
        }
    </style>

</head>

<body>
    <h1>This is a Simple flask RESTful Web Demo</h1>

    <div id="input_left">
        <div>
            <label for="a" id="label_a">Input a</label>
            <textarea id="a"></textarea>
        </div>
        <div>
            <label for="a">Input b</label>
            <textarea id="b"></textarea>
        </div>
        <div>
            <button type="button" onclick="submit();">Submit</button>
        </div>
    </div>

    <div id="output_right">
        <label for="a">Result</label>
        <textarea id="result" rows="10" cols="100"></textarea>
    </div>
</body>

</html>
